* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #6d8b74;
  --white: #f5f3ee;
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, sans-serif;
  min-height: 100vh;
  background: var(--green);
  color: var(--white);
  display: flex;
  flex-direction: column;
}

/* === HEADER === */

header {
  padding: 2rem;
  font-size: 6rem;
  text-align: center;
}

/* === CONTENT === */

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

#restart-btn {
  padding: 0.6rem 1.5rem;
  font-family: inherit;
  color: var(--green);
  background: var(--white);
  border: none;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  font-weight: 500;
}

#restart-btn:hover {
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 39rem);
  grid-template-rows: repeat(3, 13rem);
  background: var(--white);
  gap: 0.25rem;
}

.row {
  display: flex;
  gap: 0.25rem;
  background: var(--white);
}

.col {
  flex: 1;
  background: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.col:hover {
  cursor: pointer;
}

.col-events {
  pointer-events: none;
}

.result {
  font-size: 4rem;
}

/* === FOOTER === */

#github-logo {
  width: 3rem;
}

#github-logo:hover {
  transform: scale(1.05);
}

footer {
  display: flex;
  font-size: 1.8rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

/* === UNIVERSAL === */

button:hover,
.col:hover {
  filter: brightness(0.9);
}
